# SDL Configuration
title: DMGC Attiny85 Simulator
window-x: 640
window-y: 480
ttf-font: dejavusans.ttf

# Delay constants (simplified)
ticks: 1000
frames: 60

# Screen
background: 
  image: assets/half-board.png
  position:
    x: 0
    y: 0
    width: 640
    height: 370
led-info: true

# Led placement by order
led0:
  position:
    x: 100
    y: 110
    width: 28
    height: 22
  description: up
led1:
  position:
    x: 72
    y: 140
    width: 22
    height: 28
  description: left
led2:
  position:
    x: 100
    y: 172
    width: 28
    height: 22
  description: down
led3:
  position:
    x: 136
    y: 140
    width: 22
    height: 28
  description: right
led4:
  position:
    x: 225
    y: 345
    width: 28
    height: 22
  description: select
led5:
  position:
    x: 344
    y: 345
    width: 28
    height: 22
  description: start
led6:
  position:
    x: 444
    y: 200
    width: 28
    height: 22
  description: b
led7:
  position:
    x: 558
    y: 146
    width: 28
    height: 22
  description: a

# Keys
# Reference: https://wiki.libsdl.org/SDLKeycodeLookup
keys:
  nav: 
    keycode: 1073742048 # Left CRTL
    pin: 3
  left: 
    keycode: 1073741904 # Left
    pin: 2
  right: 
    keycode: 1073741903 # Right
    pin: 1
  select: 
    keycode: 9 # Tab
    pin: 0
#  nav-up: 
#    keycode: 97
#    pin: 1
#  nav-down: 
#    keycode: 97
#    pin: 2
#  up: 
#    keycode: 1073741906
#    pin: 3
#  down: 
#    keycode: 1073741905
#    pin: 4
#  start: 
#    keycode: 13
#    pin: 8
#  a: 
#    keycode: 97
#    pin: 9
#  b: 
#    keycode: 97
#    pin: 