# SDL Configuration
title: DMGC Attiny85 Simulator
window-x: 640
window-y: 480
ttf-font: dejavusans.ttf

# Delay constants (simplified)
ticks: 1000
frames: 30

# Keys
# Reference: https://wiki.libsdl.org/SDLKeycodeLookup
keys:
  nav: 97
  nav-up: 97
  nav-down: 97
  up: 1073741906
  down: 1073741905
  left: 1073741904
  right: 1073741903
  select: 9
  start: 13
  a: 97
  b: 97

# Screen
background: assets/half-board.png
led-info: true

# Led placement
led0:
  position:
    x: 100
    y: 110
    width: 28
    height: 22
  description: up
led1:
  position:
    x: 136
    y: 140
    width: 22
    height: 28
  description: right
led2:
  position:
    x: 100
    y: 172
    width: 28
    height: 22
  description: down
led3:
  position:
    x: 72
    y: 140
    width: 22
    height: 28
  description: left
led4:
  position:
    x: 225
    y: 345
    width: 28
    height: 22
  description: select
led5:
  position:
    x: 344
    y: 345
    width: 28
    height: 22
  description: start
led6:
  position:
    x: 444
    y: 200
    width: 28
    height: 22
  description: b
led7:
  position:
    x: 558
    y: 146
    width: 28
    height: 22
  description: a